* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px;
}

.options {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.range-info {
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  margin-bottom: 4px;
}

button {
  margin: 16px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#copy-button {
  background-color: #2196f3;
}

#copy-button:hover {
  background-color: #1e88e5;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

#password {
  margin: 0;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
